<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MoodTunes</title>
    <!-- Bootstrap CSS -->

    <!-- Custom CSS -->
    <link
      type="text/css"
      href="{{ url_for('static', filename='/css/style.css') }}"
      rel="stylesheet"
    />
    <link
    type="text/css"
    href="{{ url_for('static', filename='/css/bootstrap.min.css') }}"
    rel="stylesheet"
  />


  </head>
  <body>
    <div class="container">
      <h1 class="text-center">MoodTunes</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!-- <form>
            <div class="form-group">
              <label for="photo-upload">Upload your photo:</label>
              <input type="file" id="photo-upload" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Analyze my mood
              </button>
            </div>
          </form> -->
          <h2 class="text-center">Your mood:</h2>
          <div class="text-center">
            <img class="center img-fluid" src="{{ url_for('video_feed') }}" />
            <!-- <img src="https://via.placeholder.com/150x150" alt="Mood icon" class="img-thumbnail"> -->
          </div>
          <h2 class="text-center">Recommended playlist:</h2>
          <div class="" id="ResultArea"></div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
  </body>
</html>
